<html>

<body>
    <div class="block__body">
        <a href="register.html" class="block__body_box">
            <div class="card block__body_card p-3 m-2">
                <h4 class="card-title">Register Complaints</h4>
                <p class="card-text p-y-1">Regsiter a new Complaint .</p>
            </div>
        </a>
        <a href="complaints.html" class="block__body_box">
            <div class="card block__body_card p-3 m-2">
                <h4 class="card-title">Complaints</h4>
                <p class="card-text p-y-1">View all thge complaints registered by all users .</p>
            </div>
        </a>
        <a href="registered-complaints.html" class="block__body_box">
            <div class="card block__body_card p-3 m-2">
                <h4 class="card-title">Registered </h4>
                <p class="card-text p-y-1">View all the registered complaints by you .</p>
            </div>
        </a>
    </div>

</body>

</html>